body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    line-height: 1.6;
   
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}


*,
*:after,
*:before {
    box-sizing: border-box;
}

.chapter1 {
    width: 100%;
    height: 100%;
    background-color: rgb(198, 201, 235);
    margin: auto;
    
}

.container {
    width: 100%;
    max-width: 795px;
    margin: auto;
    
    

}

/* header */

.header {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    
    
}


.top {
    padding-top: 50px;
    max-width: 176px;
    margin: auto;
}
img {
    margin: auto;
}

/* nav */

.nav {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
   }

.nav_link {
    margin: 0 20px;
    font-size: 11px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;

    transition: color 0.3s linear;
    position: relative;
}

.nav_link:after {
    margin-top: 10px;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    
    position: absolute;
    left: 0;
    z-index: 1;
    
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 0.3s linear;

}
.nav_link:hover {
    color: black;
    }
 
.nav_link:hover::after {
    opacity: 1;
}

.list_1 {
    display: flex;
    margin: 0;
    padding: 0;
    width: 795px;
    height: 370px;
    background-image: url(../img/One_Trinity.jpg);
}

.list_1 p {
    color: #000;
}
.list_1in {
        float: left;
}
.list_2 {
    margin: 0;
    padding: 0;
    width: 795px;
    height: 370px;
    background-image: url(../img/Usguli.jpg);
}

.list_3 {
    margin: 0;
    padding: 0;
    width: 795px;
    height: 370px;
    background-image: url(../img/Ahalkalahi.jpg);
}

.text {
    padding-top: 36px;
    padding-bottom: 44px;
    padding-left: 60px;
    padding-right: 76px;
    margin: 0;
    height: max-content;
    background-color: #FFFFFF;
    color: black;
}

.section {
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    color: black;
    padding: 0;
    margin: auto;
    text-align: center;
}

.text1 {
    
    padding-top: 49px;
    margin: auto;
    background-color: #F1F1F1;
    text-align: center;
     
}

.text1 h2 {
   font-size: 30px;
   font-family: 'Lato', sans-serif;
   color: #000;
   padding-top: 49 ;
   display: block;
    margin: auto;
    justify-items: center;
}
.btn {
    background-color: rgb(198, 201, 235);
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 13px ;
    border: 2px solid: rgb(126, 126, 126);
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s linear;
} 

.btn:hover {
    background: rgb(76, 76, 76);
    color :#FFFFFF
}

.text1 p {
    border: 2px,;
    padding-bottom: 60px;
    margin-top: 21px;
}

h1 {
    padding-top: 85px;
    font-size: 40px;
}

.favorites {
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    width: 400;
    color:#A9AFB3;
}

.stories {
    padding: 0;
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.stories_in {
    width:300px ;
    text-align: justify;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    
}

.stories_in img {
    width: auto;
    margin: left;
    padding: 0;
}

.section p {
    margin-top: 56px;
    padding-bottom: 90px;
    font-family:'Lato', sans-serif;
    font-weight: 400;
    color:#000;
    font-size: 15px;
    text-align: center;
}

.footer {
    padding-top: 45px;
    padding-bottom: 55px;
    background-color: rgb(198, 201, 235);
}
.footer p{
    margin-top: 10px;
    font-family:'Lato', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
}